* {box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 5px solid blue;
    font-weight: bold;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 75px 50px;
    margin: 0%;
}
.headerlogo{
    position: relative;
    top: 5%;
}
body{
    background: lightskyblue;
}
h1{
    color: blue;
    border: 2px solid black;
    font-size: 36px;
    font-family: cursive;
    background: lightgreen;
}
h2{
    color: blue;
    border: 2px solid black;
    font-size: 32px;
    font-family: cursive;
    background: lightgreen;
}
h3{
    color: black;
}
.footer{
    font-size: 30px;
    margin: 0px 30px;
}
.video{
    width: 100%;
}
.name {
    background: lightgreen;
    border: 2px solid black;
    font-weight: bold;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contacto{
    background: black;
    width: 90%;
    margin: 0px 10px;
    border: 10px solid blue;
    padding: 75px 50px;
}
.listado{
    font-size: 30px;
    color: blue;
    font-family: cursive;
    
}
.ofertasyprec{
    font-size: 30px;
    color: black;
    margin: 0px 30px;
}
.frente{
    width: 98%;
    margin: 0px 0px 0px 10px;  
}
.google{
    margin: 0px 30px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
.presentacion{
    margin: 0px 30px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.youtube{
    margin: 0px 30px;

}
.tabla{
    width: 95%;
    margin: 0px 30px;
    color: chartreuse;
    background: black;
    border-color: blue;
    border-width: 30px;
    font-size: 30px;
}
.carousel-inner{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.carousel-item{
    width: 70%;
}

@media (max-width: 480px){

    .header {
        display: flex;
        color: black;
        font-size: 22px;
        padding: 0%;
        margin: auto;
    }
    .headerlogo{
        position: relative;
        width: 50%;
        top: 5%;
    }
    #buscar {
        display: none;
    }
    body{
        background: lightcoral;
    }
    
    h1{
        font-size: 20px;
        background: lightcoral;
    
    }
    h2{
        font-size: 20px;
        background: lightcoral;
    }
    h3{
        color: lightcoral;
        font-size: 18px;
    }
    .footer{
        font-size: 18px;
    }
    .listado{
        font-size: 18px;
    }
    .contacto{
        background: greenyellow;
        margin: 0px 4px;
        border: 4px;
        padding: 0%;
    }
    .name {
        background: peachpuff;
        border: 1px;
        font-size: 18px;
        color: black;
        width: fit-content;
    }
    .presentacion{
        margin: auto;
        font-size: 18px;
        color: black;
    }

    .google{
        margin-left: 0px;
        font-size: 18px;


    }
    .tabla{
        width: 50%;
        margin: 0px 5px;
        color: black;
        background: lightgreen;
        border-color: rgb(8, 8, 8);
        border-width: 10px;
        font-size: 18px;
    }
    .ofertasyprec{
        font-size: 18px;
    }
    .youtube{
        display: none; 
    }
}
@media (max-width: 767px) {

    .header {
        display: flex;
        color: purple;
        font-size: 26px;
        padding: 0%;
    }
    #buscar {
        display: none;
    }
    body{
        background: lightpink;
    }
    
    h1{
        font-size: 22px;
        background: aquamarine;
    
    }
    h2{
        font-size: 22px;
        background: lightcoral;
    }
    h3{
        color: royalblue;
        font-size: 20px;
    }
    .footer{
        font-size: 20px;
    }
    .listado{
        font-size: 20px;
    }
    .contacto{
        background: lightgoldenrodyellow;
        margin: 0px 5px;
        border: 5px;
        padding: 0%;
    }
    .name {
        background: lightpink;
        border: 1px;
        font-size: 20px;
        color: blueviolet;
    }
    .presentacion{
        margin: 0px 10px;
        font-size: 20px;
        color: blue;
    }

    .google{
        margin-left: 0px;
        font-size: 20px;

    }
    .tabla{
        width: 85%;
        margin: 0px 10px;
        color: blue;
        background: lightskyblue;
        border-color: blue;
        border-width: 15px;
        font-size: 20px;
    }
    .ofertasyprec{
        font-size: 20px;
    }
    .youtube{
        display: none; 
    }
}
